#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;


  height: 100%;
}

.app {
  display: grid;

/* rows + height / columns + width */
/*  grid: repeat(auto-fit,minmax(300px,1fr)) / auto-flow 100px;*/
  grid: 1fr 14fr 1fr / auto-flow 1fr;

/*grid-template-rows: minmax(300px,1fr) minmax(600px,4fr) minmax(300px,1fr);*/

  background-color: yellow;


  height: 100%;
}


