.mainContent {
/*	background-color: green;*/

/*	min-height: 0;*/

	border-top-color: rgb(235,219,1);
	border-top-width: 0.2rem;
	border-top-style: solid;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	flex-wrap: wrap;
	text-align: left;

}

.mainContent h1 {
	padding-left: 1.5rem;
	flex-basis: 100%;
	font-size : 2rem;
}

.mainContent h2 {
	padding-left: 2rem;
	font-size: 1.5rem;
}

.mainContent p {
	padding-left: 2.5rem;
	font-size: 1rem;
}