.mainContent {
/*	background-color: green;*/

/*	min-height: 0;*/

	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	flex-wrap: wrap;
	text-align: left;

	
}


.mainContent h1 {
	margin-left: 2rem;
	flex-basis: 100%;
	font-size : 2rem;
}

.mainContent h2 {
	flex-basis: 100%;
	
/*cannot rely on inheritance here useragent stylesheet sets font-size*/
	font-size: 1.5rem;
}

.mainContent p {
	line-height: 1.7rem;
	padding: 0.3rem 0;
	font-size: 1.2rem;
	text-indent: 0.6rem;

}

.intro p {
	margin-left: 2rem;
}
.mainContent ul p {
	text-indent: 0;
}
.mainContent ul {
	margin-left: 0;
	display: block;
	list-style-type: "-  ";
}
.mainContent li {
	/* ul requires margin for bulletpoint visible	*/
	margin-left: 3.5rem;
}
.mainContent li::marker {
	font-size: 1.5rem;
	color: rgb(235,219,1);
}
