.navbar {
/*	min-height: 75px*/
display: flex;
justify-content: flex-end;

/*min-height: 1.4rem;*/
position: sticky;
top: 0;

border-bottom-color: rgb(235,219,1);
border-bottom-width: 0.2rem;
border-bottom-style: solid;

background-color: white;

}

.navbar ul  {
	justify-content: space-evenly;
	align-items: center;
	gap: 5px;

	flex-basis: 40%;

	font-size: 1.4rem;
}
.navbar li {
	
}
.navbar a {
	color: #213547;
}